<!doctype html>
<html>
<head>
  <title>Twacker</title>
  <link href="http://www.danasilver.org/img/favicon.ico" rel="icon">
  <link href="twacker.css" rel="stylesheet">
</head>
<body>
  <header>
    <h1><span class="hashtag">#</span>twacker
      <span class="subtitle">THE TWITTER TRACKER</span>
      <span class="who">tracking
        <a href="https://twitter.com/<%= @username %>">@<%= @username %></a>
      </span>
    </h1>
  </header>

  <section>
    <div class="chart followers">
      <h2>followers</h2>
      <div class="line"></div>
    </div>
    <div class="dates">
    </div>
    <div class="chart friends">
      <h2>following</h2>
      <div class="line"></div>
    </div>
    <p class="no-data hidden">Nothing to see yet!</p>
    <p class="no-data hidden">Make sure you set the
      <a href="https://github.com/danasilver/twacker#set-heroku-scheduler">Scheduler</a>
      task and you'll see data the second day it's collected.</p>
  </section>

  <footer>
    <a href="https://github.com/danasilver/twacker">Track yourself.</a>
  </footer>

  <div class="tooltip">Dana Silver<br>@DanaRSilver</div>
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="bar-chart.js" charset="utf-8"></script>
  <script src="date-chart.js" charset="utf-8"></script>
  <script src="line-chart.js" charset="utf-8"></script>
  <script src="twacker.js" charset="utf-8"></script>
</body>
</html>
