html, body {
  margin: 0;
}

header, section, footer {
  width: 960px;
  margin: auto;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

header h1 {
  height: 50px;
  font-weight: 300;
}

header img {
  height: 50px;
  margin-top: -5px;
  margin-right: 5px;
  float: left;
}

h2 {
  text-align: center;
  font-weight: 300;
  width: 380px;
}

.followers {
  float: left;
}

.friends {
  float: right;
}

.who {
  float: right;
  font-size: 16px;
  line-height: 50px;
}

.who a {
  color: #55acee;
  text-decoration: none;
}

.dates {
  width: 200px;
  float: left;
}

.date {
  cursor: pointer;
}

.date rect {
  fill: #fff;
  visibility: hidden;
}

.date:hover rect,
.date.open rect {
  fill: #e5e5e5;
  visibility: visible;
}

g.positive rect {
  fill: #2ca02c;
}

g.negative rect {
  fill: #d62728;
}

.bar:hover {
  cursor: pointer;
}

.y.centerline line,
.y.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.y.axis text {
  font-size: 13px;
}

.x.axis line {
  fill: none;
  stroke: #e0e0e0;
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
  stroke: none;
}

.axis text {
  font-size: 10px;
}

.tooltip {
  position: absolute;
  padding: 10px;
  border-radius: 5px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
}

.tooltip:after {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid rgba(0, 0, 0, 0.7);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
}
